<!DOCTYPE html>
<html>
	<body>
		<div th:include="fragments/header"></div>
		<h1>Thymeleaf !!!</h1>
		<p>Variáveis: <th th:text="${atributo}">sfs</th></p>
		<p>Mensagens: <th th:text="#{mensagem}">fdsf</th></p>
		<p>Link: <a th:href="@{http://www.thymeleaf/documentation.html}">Link</a></p>
		<p>Iterando numa lista: </p>
		<ul>
			<li th:each="item : ${itens}">
				<th th:text="${item.nome}" />
				<th th:text="${item.descricao}" />
				<th th:text="${item.valor}" />
			</li>
		</ul>
		<div th:include="fragments/footer"></div>
		<div th:include="fragments/table::table (${itens})"></div>
	</body>
</html>